@import 'variables';


@mixin estiloBotones($theme: $amarillo){
    background-color: $theme;
    font-weight: bold;
    border: none;
    border-radius: 1px;
    box-sizing: border-box;
    font-size: large;
}

@mixin estiloColumnas($fondo: $amarillo){
    display: grid;
    grid-template-rows: 60% 20% 20%;
    min-height: fit-content;
    text-align: center;
    gap: 4%;
    padding: 0.8rem;
    border-bottom: 4px solid $amarillo;
    padding: 1.3rem;
    box-sizing: border-box;

    h2{
        background-color: transparent;
        color: $gris;
        font-weight: bolder;
        font-size: 1.6rem;
    }

    p{
        text-align: center;
        color: $gris;
        font-size: 1rem;
    }
}


@mixin dispositivosPortatiles{
    @media only screen and (max-width: 500px){
        @content;
    }
}

@mixin fondoSvg($imagen: './media/notebook.svg'){
    height: 100%;
    width: 100%;
    background-image: url(#{$imagen});
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@mixin logo($img: './media/logo-white.svg'){
    color: white;
    display: grid;
    grid-template-columns: 30% 1px 70%;
    font-size: 0.6rem;
    text-align: justify;
    
        
    .corazon{
            background-image: url($img);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            min-height: 100%;
            
        }
    
        hr{
            transform: rotate(90);
            width: 1px;
            height: 90%;
            align-self:center;
            background-color: $amarillo;
            border: none;
            
        }
    
        .texto{
            text-justify: center;
            margin-left: 0.5rem;
            color: white;

            h2{
                color: white;
            }
        }
        .texto h2{
            font-size: $subtitulos;
            color: white;
        }
        p{
            text-justify: distribute;
        }
    }

