* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  width: 600px;
  height: auto;
  font-family: "Times New Roman", Times, serif;
}

.portada {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  background-color: #41413f;
  border-top: 3px solid #ecb300;
  color: white;
  height: auto;
  width: 100%;
}
.portada .nurseImg {
  background-image: url("./media/nurse.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.portada .titulo, .portada .nurseImg {
  background-color: #41413f;
  margin-top: 2vh;
}
.portada .titulo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding-left: 6vh;
  gap: 2vh;
  padding: 1rem;
}
.portada .titulo h1 {
  color: white;
  font-size: 3rem;
}
.portada .titulo h2 {
  color: #ecb300;
  font-size: 2rem;
}
.portada button {
  background-color: #ecb300;
  font-weight: bold;
  border: none;
  border-radius: 1px;
  box-sizing: border-box;
  font-size: large;
  height: 2.7rem;
  width: 62%;
  font-size: 1.6rem;
}
.portada .logo {
  color: white;
  display: grid;
  grid-template-columns: 30% 1px 70%;
  font-size: 0.6rem;
  text-align: justify;
}
.portada .logo .corazon {
  background-image: url("./media/logo-white.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100%;
}
.portada .logo hr {
  transform: rotate(90);
  width: 1px;
  height: 90%;
  align-self: center;
  background-color: #ecb300;
  border: none;
}
.portada .logo .texto {
  text-justify: center;
  margin-left: 0.5rem;
  color: white;
}
.portada .logo .texto h2 {
  color: white;
}
.portada .logo .texto h2 {
  font-size: 2rem;
  color: white;
}
.portada .logo p {
  text-justify: distribute;
}

.descripcion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto;
  text-align: center;
  color: #41413f;
  width: 95%;
  padding: 1rem 2rem;
  gap: 1rem;
}
.descripcion button {
  background-color: #ecb300;
  font-weight: bold;
  border: none;
  border-radius: 1px;
  box-sizing: border-box;
  font-size: large;
  height: 6vh;
  width: 35%;
}
.descripcion p {
  line-height: 1.8rem;
  color: #41413f;
  opacity: 0.7;
  margin: 0 1rem;
}

.standOut {
  width: 100%;
  height: auto;
}
.standOut h2 {
  background-color: #41413f;
  color: #faf7ec;
  font-weight: 100;
  text-align: center;
  align-self: center;
  padding: 1.2rem;
}
.standOut .tabla {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: auto;
}
.standOut .tabla .uno {
  display: grid;
  grid-template-rows: 60% 20% 20%;
  min-height: -moz-fit-content;
  min-height: fit-content;
  text-align: center;
  gap: 4%;
  padding: 0.8rem;
  border-bottom: 4px solid #ecb300;
  padding: 1.3rem;
  box-sizing: border-box;
  background-color: #fef5d6;
}
.standOut .tabla .uno h2 {
  background-color: transparent;
  color: #41413f;
  font-weight: bolder;
  font-size: 1.6rem;
}
.standOut .tabla .uno p {
  text-align: center;
  color: #41413f;
  font-size: 1rem;
}
.standOut .tabla .uno .noteBook {
  height: 100%;
  width: 100%;
  background-image: url(./media/notebook.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.standOut .tabla .uno .noteBook:hover {
  transform: rotate(360deg) scale(1.2);
  transition: all 0.6s ease-in-out 0s;
}
.standOut .tabla .dos {
  display: grid;
  grid-template-rows: 60% 20% 20%;
  min-height: -moz-fit-content;
  min-height: fit-content;
  text-align: center;
  gap: 4%;
  padding: 0.8rem;
  border-bottom: 4px solid #ecb300;
  padding: 1.3rem;
  box-sizing: border-box;
  background-color: white;
}
.standOut .tabla .dos h2 {
  background-color: transparent;
  color: #41413f;
  font-weight: bolder;
  font-size: 1.6rem;
}
.standOut .tabla .dos p {
  text-align: center;
  color: #41413f;
  font-size: 1rem;
}
.standOut .tabla .dos .reloj {
  height: 100%;
  width: 100%;
  background-image: url(./media/reloj.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.standOut .tabla .dos .reloj:hover {
  transform: rotate(360deg) scale(1.2);
  transition: all 0.6s ease-in-out 0s;
}
.standOut .tabla .tres {
  display: grid;
  grid-template-rows: 60% 20% 20%;
  min-height: -moz-fit-content;
  min-height: fit-content;
  text-align: center;
  gap: 4%;
  padding: 0.8rem;
  border-bottom: 4px solid #ecb300;
  padding: 1.3rem;
  box-sizing: border-box;
  background-color: #ffd642;
}
.standOut .tabla .tres h2 {
  background-color: transparent;
  color: #41413f;
  font-weight: bolder;
  font-size: 1.6rem;
}
.standOut .tabla .tres p {
  text-align: center;
  color: #41413f;
  font-size: 1rem;
}
.standOut .tabla .tres .firstAid {
  height: 100%;
  width: 100%;
  background-image: url(./media/firstAid.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.standOut .tabla .tres .firstAid:hover {
  transform: rotate(360deg) scale(1.2);
  transition: all 0.6s ease-in-out 0s;
}

.ranked {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  height: auto;
}
.ranked .texto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 2rem;
  line-height: 1.8rem;
  color: #41413f;
}
.ranked button {
  background-color: #ecb300;
  font-weight: bold;
  border: none;
  border-radius: 1px;
  box-sizing: border-box;
  font-size: large;
  width: 100%;
  height: 2.3rem;
}
.ranked .paisaje {
  background-image: url("./media/paisaje.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 1rem;
}

.footer {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  height: auto;
  background-color: #41413f;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.footer .logo {
  color: white;
  display: grid;
  grid-template-columns: 30% 1px 70%;
  font-size: 0.6rem;
  text-align: justify;
}
.footer .logo .corazon {
  background-image: url("./media/logo-white.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100%;
}
.footer .logo hr {
  transform: rotate(90);
  width: 1px;
  height: 90%;
  align-self: center;
  background-color: #ecb300;
  border: none;
}
.footer .logo .texto {
  text-justify: center;
  margin-left: 0.5rem;
  color: white;
}
.footer .logo .texto h2 {
  color: white;
}
.footer .logo .texto h2 {
  font-size: 2rem;
  color: white;
}
.footer .logo p {
  text-justify: distribute;
}
.footer .direccion {
  color: white;
  text-align: center;
  line-height: 1.7rem;
}

button:hover {
  transform: scale(1.2);
  border-radius: 5px;
  color: white;
}

@media (max-width: 500px) {
  body {
    gap: 3%;
  }
  h1, h2 {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.4rem;
  }
  .titulo {
    padding-left: 1rem;
    gap: 1rem;
  }
  button {
    font-size: 2rem;
  }
  .standOut {
    height: -moz-fit-content;
    height: fit-content;
    border-bottom: 2px solid #ecb300;
    height: auto;
  }
  .standOut .tabla {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, fit-content);
    height: auto;
  }
  .standOut .tabla .uno, .standOut .tabla .dos, .standOut .tabla .tres {
    gap: 6%;
    height: auto;
  }
}
@media only screen and (max-width: 500px) and (max-width: 500px) {
  .standOut .tabla .uno h2, .standOut .tabla .dos h2, .standOut .tabla .tres h2 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 500px) and (max-width: 500px) {
  .standOut .tabla .uno p, .standOut .tabla .dos p, .standOut .tabla .tres p {
    font-size: 1.7rem;
  }
}
@media (max-width: 500px) {
  .ranked {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
    height: auto;
  }
  .ranked .paisaje {
    height: 50vh;
    width: 100vw;
    background-image: url("./media/paisaje.jpg");
    background-size: cover;
    background-position: center;
  }
  .logo .texto p {
    font-size: 1rem;
    text-align: left;
  }
  .footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}/*# sourceMappingURL=style.css.map */