@import "_variables.scss";
@import "_mixins.scss";

/* General Styles */
body {
  font-family: 'Kanit', sans-serif;
  //overflow-x: hidden;
  margin-inline: 0;
}

/* Navbar */
.navbar {
  .navbar-brand {
    .logo {
      width: 100px;
      height: 100px;
    }
  }

  .nav-link {
    color: $dark;
    transition: all 0.3s;

    &:hover {
      color: $contrast-color;
      @include text-shadow($color: $contrast-color, $x: 2px, $y: 2px, $blur: 4px);
    }
  }
}


/* Hero Section */
.heroSection {
  background-image: url('./media/fondoHeader.png');
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  display: flex;
  align-items: center;

  &:hover {
    background-size: 150%;
    transition: all ease-in 0.5s;
  }

  .name {
    @include text-shadow($color: $dark, $x: 3px, $y: 3px, $blur: 4px);
    font-size: 5rem;
    animation: slideInLeft 1.5s ease-out forwards;
  }

  .welcome {
    @include text-shadow($color: rgba(0, 0, 0, 0.5), $x: 2px, $y: 2px, $blur: 4px);
    animation: slideInRight 1.5s ease-out forwards;
  }

  .callToAction {
    @include text-shadow($color: $dark, $x: 2px, $y: 2px, $blur: 4px);
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 5px;
    color: $secondary;
    transition: all 0.3s;

    &:hover {
      background-color: $contrast-color;
      color: $light;
    }
  }
}

/* About Me Section */
.falling-image {
  background-color: rgba($color: #ffffff, $alpha: 0.6);
  border-radius: 50%;
  transform: translateX(100%);
  transition: all 0.5s ease;
  animation: slideInRight 1.5s ease-out forwards;
  
}

/* Cards */

.card {
  box-sizing: border-box;
  border: 3px solid $light;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .btn {
    background-color: $primary;
    width: fit-content;
    &:hover {
      background-color: $contrast-color;
      color: $light;
    }
  }

  &:hover {

    .card-img {
      position: relative;
      animation: slideInDown 0.5s ease-in forwards;
    }

    .card-body {
      animation: slideInUp 0.5s ease-in forwards;
    }
  }
}

/* Skills Section */
.progress {
  background-color: transparent;

  .progress-bar {
    width: 0;
    transition: width 2s ease-in-out;

    &.gradient-basic {
      background: linear-gradient(to right, #6b7aff, #0228ff);
    }

    &.gradient-interm {
      background: linear-gradient(to right, #0228ff, #424242);
    }

    &.gradient-adv {
      background: linear-gradient(to right, #424242, #000000);
    }
  }

  
}
#skills:hover .progress-bar{
    animation: progressAnimation 2s ease-in-out forwards;

}

/* Contact Section */
.formContainer {
  background-image: url('./media/fondoHeader.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .slideContainer {
    background-color: rgba($color: #000000, $alpha: 0.3);
    border-radius: 10px;
  }

  .form-control {
    &:focus {
      transform: scale(1.2);
    }
  }
}

/* Footer */
.footerIcon {
  &:hover {
    transform: rotate(360deg) scale(1.2);
    transition: all 0.5s;
  }
}

/* Animations */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes progressAnimation {
  from {
    width: 0;
  }
  to {
    width: var(--target-width);
  }
}
