@import "_variables.scss"; //variables con los colores para usar en el proyecto
@import "_mixins.scss";

/* Estilos generales*/
body {
  font-family: 'Kanit', sans-serif; //fuente Gracias a google fonts
  margin-inline: 0;
}

/* Navbar */
.navbar {
  .navbar-brand {
    .logo {
      width: 100px;
      height: 100px;
    }
  }

  .nav-link {
    color: $dark;
    transition: all 0.3s;

    &:hover {
      color: $contrast-color;
      //Mixin par aplicar diferentes sombras, no lo he utilizado muchisimo. en este caso para aplicar un pequeño brillo azul a los elementos del nav
      @include text-shadow($color: $contrast-color, $x: 2px, $y: 2px, $blur: 4px);
    }
  }
}


/* Hero Section */
.heroSection {
  background-image: url('./media/fondoHeader.png');
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  display: flex;
  align-items: center;

  &:hover { //hover para dar profundidad al fondo del hero section
    background-size: 150%;
    transition: all ease-in 0.5s;
  }

  .name {
    @include text-shadow($color: $dark, $x: 3px, $y: 3px, $blur: 4px);
    font-size: 5rem;
    animation: slideInLeft 1.5s ease-out forwards; //llamamos a la animación que nos trae el nombre desde la izquierda
  }

  .welcome {
    @include text-shadow($color: $dark, $x: 2px, $y: 2px, $blur: 4px);
    animation: slideInRight 1.5s ease-out forwards; //llamamos a la animación que nos trae el welcome desde la derecha
  }

  .callToAction {
    @include text-shadow($color: $dark, $x: 2px, $y: 2px, $blur: 4px);
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 5px;
    color: $secondary;
    transition: all 0.3s;

    &:hover {
      //color de contraste al hacer hover en el botón, en este caso un azul que combina con el resto de la paleta de colores
      background-color: $contrast-color;
      color: $light;
    }
  }
}

// About Me Section
.falling-image {
  background-color: rgba($color: #ffffff, $alpha: 0.6); //pequeño fondo para dar contraste a la imagen
  border-radius: 50%;
  transition: all 0.5s ease;
  animation: slideInRight 1.5s ease-out forwards;
  
}

/*Seccion se proyectos. 3 cartas hechas con bootstrap. Al igual que en la sección
de las barras de progreso, he optado por un hover para aplicar el efecto que con
js sería disparado al entrar en esa sección */
.card {
  box-sizing: border-box;
  border: 3px solid $light;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .btn {
    background-color: $primary;
    width: fit-content;
    &:hover {
      background-color: $contrast-color;
      color: $light;
    }
  }

  &:hover {
    .card-img {
      animation: slideInDown 0.5s ease-in forwards;
    }

    .card-body {
      animation: slideInUp 0.5s ease-in forwards;
    }
  }
}

/* Sección de barras de progreso, he optado por un gradiente desde el color de contraste
a un negro total para expresar el 'grado de conocimiento'*/
.progress {
  background-color: transparent; //sin color de fondo para un efecto curioso

  .progress-bar {
    width: 0;
    transition: width 2s ease-in-out;

    &.gradient-basic {
      background: linear-gradient(to right, #6b7aff, #0228ff);
    }

    &.gradient-interm {
      background: linear-gradient(to right, #0228ff, #424242);
    }

    &.gradient-adv {
      background: linear-gradient(to right, #424242, #000000);
    }
  }

  
}
#skills:hover .progress-bar{
    animation: progressAnimation 2s ease-in-out forwards;

}


//Sombreado a titulos para mejor contraste
h4, h2, h1{
  @include text-shadow($color: $dark, $x: 2px, $y: 2px, $blur: 4px);
}

/* Sección de contacto */
.formContainer {
  background-image: url('./media/fondoHeader.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .slideContainer {
    background-color: rgba($color: #000000, $alpha: 0.3);
    border-radius: 10px;
  }

  .form-control {
    &:focus { //el input en el que se está escribiendo se resaltará escalando un 20%
      transform: scale(1.2);
      border: solid #0228ff;
    }
  }
}

/* Footer. Único estilo que tuve que aplicar fue un color azulado al icono de linkedin
y un hover para animar una pequeña rotación y escala*/

.footerIcon {
  &:hover {
    transform: rotate(360deg) scale(1.2);
    transition: all 0.5s;
  }
}

// Animaciones
@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes progressAnimation {
  from {
    width: 0;
  }
  to {
    width: var(--target-width);
  }
}
