.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 30vh;
    color: white;
    .card1{
        background-color: black;
    }
    .card2{
        background-color: rgb(54, 53, 53);
    }

    .card3{
        background-color: rgb(102, 101, 101);
    }
    .card4{
        background-color: rgb(163, 162, 162);
    }
}